<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- - Mapping files or annotated classes -->
        <mapping class="net.onelitefeather.stardust.user.User" />
        <mapping class="net.onelitefeather.stardust.user.UserProperties" />
        <mapping class="net.onelitefeather.stardust.user.UserProperty" />
        <mapping class="net.onelitefeather.stardust.command.CommandCooldown" />

        <!-- Drop and re-create the database schema on startup -->
    </session-factory>
</hibernate-configuration>
